<?xml version="1.0" encoding="utf-8"?><!--
  ~ Created by YSN Studio on 5/20/18 10:26 AM
  ~ Copyright (c) 2018. All rights reserved.
  ~
  ~ Last modified 5/20/18 12:17 AM
  -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ysn.cuacain">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".views.base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.ysn.cuacain.views.ui.activity.splashscreen.SplashScreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.ysn.cuacain.views.ui.activity.home.HomeActivity" />
    </application>

</manifest>